<!-- Generated template for the ChilddetailComponent component -->
<ion-header>
  <ion-navbar>
    <ion-title>Student Demo</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
<ion-card>
  <ion-grid>
    <ion-row  text-center>
    
      <ion-col>
        <ion-avatar>
          <img style="border-radius:50%;" alt="Silhouette of a person's head" [src]=child.child_image_url />
        </ion-avatar>
      </ion-col>

  </ion-row>
  <ion-row  text-center style="border-bottom:2px solid #A6A6A6">

    <ion-col>
      <div class="ion-text-center">{{ child.child_name }}</div>
      <div class="ion-text-center">{{ child.child_email }}</div>
      <div class="ion-text-center">Grade</div>
    </ion-col>


  </ion-row>

  <ion-row  text-center>

    <ion-col>
      <div><a style="text-decoration: none;">Report</a></div>
      
    </ion-col>

    
  </ion-row>

  </ion-grid>
</ion-card>

<ion-list>
  <ng-container *ngFor="let block of blocks | slice:1">
    <core-block *ngIf="block.visible" [block]="block" contextLevel="user" [instanceId]="userId" [extraData]="{'downloadEnabled': downloadEnabled}"></core-block>
</ng-container>
</ion-list>
</ion-content>




