<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>379237866173-j1qgl79j7qnet5vhs43d6lipv2ov6ku4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.379237866173-j1qgl79j7qnet5vhs43d6lipv2ov6ku4</string>
	<key>API_KEY</key>
	<string>AIzaSyAcsFQqNgOSVTvjC8qlmOUVQyN29vsskug</string>
	<key>GCM_SENDER_ID</key>
	<string>379237866173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ramsis.edusync</string>
	<key>PROJECT_ID</key>
	<string>edusync-e40d8</string>
	<key>STORAGE_BUCKET</key>
	<string>edusync-e40d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:379237866173:ios:4bbcdc00bfbe528ba2f5d4</string>
</dict>
</plist>