<!-- Buttons to add to the header. *ngIf is needed, otherwise the component is executed too soon and doesn't find the header. -->
<core-navbar-buttons end *ngIf="loaded">
    <core-context-menu>
    </core-context-menu>
</core-navbar-buttons>

<core-block-course-blocks [courseId]="course.id" [hideBlocks]="selectedSection && selectedSection.id == allSectionsId && canLoadMore" [downloadEnabled]="downloadEnabled">
    <!-- Default course format. -->
    <core-dynamic-component [component]="courseFormatComponent" [data]="data">
        <core-loading [hideUntil]="loaded">
            <!-- Section selector. -->

            <!-- Course summary. By default we only display the course progress. -->
            <core-dynamic-component [component]="courseSummaryComponent" [data]="data">
                <ion-list no-lines *ngIf="course.imageThumb || (selectedSection && selectedSection.id == allSectionsId && course.progress != null && course.progress >= 0)" class="core-format-progress-list">
                    <div *ngIf="course.imageThumb" class="core-course-thumb">
                        <img [src]="course.imageThumb" core-external-content alt=""/>
                    </div>
                    <ion-item class="core-course-progress" *ngIf="selectedSection && selectedSection.id == allSectionsId && course.progress != null && course.progress >= 0 && course.completionusertracked !== false">
                        <core-progress-bar [progress]="course.progress"></core-progress-bar>
                    </ion-item>
                </ion-list>
            </core-dynamic-component>

            <!-- Single section. -->
            <div *ngIf="selectedSection && selectedSection.id != allSectionsId">
                <core-dynamic-component [component]="singleSectionComponent" [data]="data">
                    <ng-container *ngTemplateOutlet="sectionTemplate; context: {section: selectedSection}"></ng-container>
                    <core-empty-box *ngIf="!selectedSection.hasContent" icon="qr-scanner" [message]="'core.course.nocontentavailable' | translate"></core-empty-box>
                </core-dynamic-component>
            </div>

            <!-- Multiple sections. -->
            <div *ngIf="selectedSection && selectedSection.id == allSectionsId">
                <core-dynamic-component [component]="allSectionsComponent" [data]="data">
                    <ng-container *ngIf="sections.length > 1">
                        <ng-container *ngTemplateOutlet="sectionTemplate; context: {section: sections[1]}"></ng-container>
                    </ng-container>
                    <ng-container *ngIf="sections.length > 2">
                        <ng-container *ngTemplateOutlet="sectionTemplate; context: {section: sections[2]}"></ng-container>
                    </ng-container>
                    <ng-container *ngIf="sections.length > 3">
                      <ng-container *ngTemplateOutlet="sectionTemplate; context: {section: sections[3]}"></ng-container>
                  </ng-container>

                    <ion-list *ngFor="let section of sections; index as i">
                        <ng-container *ngIf="i > 3 && section.summary && section.summary != '' && i <= showSectionId">
                            <ng-container *ngTemplateOutlet="sectionTemplate; context: {section: section}"></ng-container>
                        </ng-container>
                    </ion-list>
                </core-dynamic-component>

                <core-infinite-loading [enabled]="canLoadMore" (action)="showMoreActivities($event)"></core-infinite-loading>
            </div>

            <ion-buttons padding end class="core-course-section-nav-buttons safe-padding-horizontal" *ngIf="displaySectionSelector && sections && sections.length">
                <button *ngIf="previousSection" ion-button color="light" icon-only (click)="sectionChanged(previousSection)" title="{{ 'core.previous' | translate }}">
                    <ion-icon name="arrow-back" md="ios-arrow-back"></ion-icon>
                    <core-format-text class="accesshide" [text]="previousSection.formattedName || previousSection.name" contextLevel="course" [contextInstanceId]="course.id"></core-format-text>
                </button>
                <button *ngIf="nextSection" ion-button icon-only (click)="sectionChanged(nextSection)" title="{{ 'core.next' | translate }}">
                    <core-format-text class="accesshide" [text]="nextSection.formattedName || nextSection.name" contextLevel="course" [contextInstanceId]="course.id"></core-format-text>
                    <ion-icon name="arrow-forward" md="ios-arrow-forward"></ion-icon>
                </button>
            </ion-buttons>
        </core-loading>
    </core-dynamic-component>
</core-block-course-blocks>

<!-- Template to render a section. -->
<ng-template #sectionTemplate let-section="section">
    <section class="main-section" *ngIf="!section.hiddenbynumsections && section.id != allSectionsId && section.id != stealthModulesSectionId">
        <!-- Title is only displayed when viewing all sections. -->
        <ion-item text-wrap color="light" *ngIf="selectedSection.id == allSectionsId && section.name && section.name !== 'General'" [class.core-section-download]="downloadEnabled" tappable (click)="toggleSection(section)">
          <ion-row>
            <ion-col *ngIf="section.specialImage" col-12 align-self-stretch>
              <img [src]="section.specialImage" />
            </ion-col>
            <ion-col *ngIf="!section.specialImage" col-12 align-self-stretch>
              <div class="absolute-position-wrapper">
              <div class="core-format-text-wrapper">
                <core-format-text [text]="section.name" contextLevel="course" [contextInstanceId]="course.id"></core-format-text>
                <core-format-text *ngIf="section.summary" [text]="section.summary" contextLevel="course" [contextInstanceId]="course.id"></core-format-text>
              </div>
              <div class="core-format-text-overlay">
                <ion-row>
                  <ion-col col-2>
                    <div class="section-image-container">
                      <img class="section-image-1" [src]="section.img1" />
                    </div>
                  </ion-col>
                  <ion-col col-6>
                  </ion-col>
                  <ion-col col-2>
                    <!-- Section download. -->
                    <ng-container *ngTemplateOutlet="sectionDownloadTemplate; context: {section: section}"></ng-container>
                  </ion-col>
                  <ion-col col-2>
                    <div class="section-image-container">
                      <img class="section-image-2" [src]="section.img2" />
                    </div>
                  </ion-col>
                </ion-row>
              </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-item>

        <ng-container *ngIf="(section.modules || section.subSections) && section.open">
            <ng-container *ngFor="let module of section.modules">
                <core-course-module class="sub-section-module" *ngIf="module.visibleoncoursepage !== 0" [module]="module" [courseId]="course.id" [downloadEnabled]="downloadEnabled" [section]="section"
                    (completionChanged)="onCompletionChange($event)" (statusChanged)="onModuleStatusChange($event)"></core-course-module>
            </ng-container>
            <ion-list class="sub-section-list">
              <section class="sub-section" *ngFor="let subSection of section.subSections; index as i">
                  <!-- Title is only displayed when viewing all sections. -->
                  <ion-item text-wrap *ngIf="selectedSection.id == allSectionsId && subSection.name && !subSection.hiddenbynumsections && subSection.id != allSectionsId && subSection.id != stealthModulesSectionId" [class.core-section-download]="downloadEnabled" tappable (click)="toggleSubSection(subSection)">
                    <ion-row>
                      <ion-col *ngIf="!subSection.img" col-1 align-self-stretch>
                        <img [src]="section.img" />
                      </ion-col>
                      <ion-col *ngIf="!subSection.img" col-8 align-self-stretch>
                        <div class="core-format-text-wrapper">
                          <core-format-text [text]="subSection.name" contextLevel="course" [contextInstanceId]="course.id"></core-format-text>
                        </div>
                      </ion-col>
                      <ion-col *ngIf="subSection.img" col-12 align-self-stretch>
                        <img [src]="subSection.img" />
                      </ion-col>
                      <ion-col *ngIf="downloadEnabled || !subSection.img" col-2 align-self-stretch>
                        <!-- Section download. -->
                        <ng-container *ngTemplateOutlet="sectionDownloadTemplate; context: {section: subSection}"></ng-container>
                      </ion-col>
                      <ion-col *ngIf="!subSection.img" col-1 align-self-stretch>
                        <ion-icon class="section-icon" slot="end" name="arrow-forward" *ngIf="!subSection.open"></ion-icon>
                        <ion-icon class="section-icon" slot="end" name="arrow-down" *ngIf="subSection.open"></ion-icon>
                      </ion-col>
                    </ion-row>
                  </ion-item>

                  <ng-container *ngIf="subSection.modules && subSection.open">
                      <ng-container *ngFor="let module of subSection.modules">
                          <core-course-module *ngIf="module.visibleoncoursepage !== 0" [module]="module" [courseId]="course.id" [downloadEnabled]="downloadEnabled" [section]="subSection"
                              (completionChanged)="onCompletionChange($event)" (statusChanged)="onModuleStatusChange($event)"></core-course-module>
                      </ng-container>
                  </ng-container>
              </section>
            </ion-list>
        </ng-container>
    </section>
</ng-template>

<!-- Template to render a section download button/progress. -->
<ng-template #sectionDownloadTemplate let-section="section">
    <div *ngIf="section && downloadEnabled" class="core-button-spinner" float-end>
        <!-- Download progress. -->
        <ion-badge class="core-course-download-section-progress" *ngIf="section.isDownloading && section.total > 0 && section.count < section.total">{{section.count}} / {{section.total}}</ion-badge>

        <core-download-refresh [status]="section.downloadStatus" [enabled]="downloadEnabled" [loading]="section.isDownloading || section.isCalculating" [canTrustDownload]="section.canCheckUpdates" (action)="prefetch(section, $event)"></core-download-refresh>
    </div>
</ng-template>
