ion-app.app-root page-core-login-sites {
    .item-ios .item-button[icon-only] ion-icon {
        font-size: 2.1em;
    }

    .scroll-content {
        background: $core-splash-bgcolor; /* Change this to add a bg image or change color */
        overflow: hidden;
        position: absolute;
        @include position(0, 0, 0, 0);
        height: 100%;
        width: 100%;
        display: table;
    }

    .core-bglogo {
        display: table-cell;
        text-align: center;
        vertical-align: middle;

        background-image: url("#{$assets-path}/img/background.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;

        #slogan {
            width: 30%;
            height: auto;
        }
    }

    .transparent-button {
        background-color: transparent;
        padding: 40px;

        img {
            width: 125px;
            filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
        }
    }
}
