
<div class="meter" id="meter" style="background-color: rgb(63,118,205); height: 10px; width: 0;"></div>

<p id="message-response"></p>

<form #messageForm>
    <textarea id="message-textarea" class="core-send-message-input" [core-auto-focus]="showKeyboard" [placeholder]="placeholder" rows="1" core-auto-rows [(ngModel)]="message" name="message" (onResize)="textareaResized()" (keydown.enter)="enterClicked($event)" (keydown.control.enter)="enterClicked($event, 'control')" (keydown.meta.enter)="enterClicked($event, 'meta')" aria-multiline="true"></textarea>
    
    <label for="file">
        <img src="https://img.icons8.com/ios/452/attach.png" alt="" style="width: 30px;">
    </label>
    <input type="file" namename="file" id="file" (change)="loadImageFromDevice($event)" style="opacity: 0;width: 0;height: 0;">
    
    <ion-buttons end>
        <button ion-button icon-only clear="true" type="submit" [attr.aria-label]="'core.send' | translate" [core-suppress-events] (onClick)="submitForm($event)">
            <ion-icon name="send" color="dark"></ion-icon>
        </button>
    </ion-buttons>
</form>
