$core-login-page-background-color: $white !default;
$core-login-page-text-color: $text-color !default;
$core-login-button-outline: false !default;
$core-login-loading-color: false !default;
$core-login-item-inner-background-color: $white !default;
$core-login-item-background-color: $white !default;

// Dark.
$core-dark-login-page-background-color: $black !default;
$core-dark-login-page-text-color: $core-dark-text-color !default;
$core-dark-login-item-inner-background-color: $core-dark-login-page-background-color !default;
$core-dark-login-item-background-color: $core-dark-login-page-background-color !default;
$core-dark-login-button-outline: $core-login-button-outline !default;
$core-dark-login-loading-color: $core-dark-text-color !default;

ion-app.app-root page-core-login-credentials,
ion-app.app-root page-core-login-reconnect,
ion-app.app-root page-core-login-site {
    .school-logo-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30vh;
        img {
            height: 20vh;
            filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
        }
    }

    @keyframes example {
        from {top: 110vh;}
        to {top: 30vh;}
    }
    .form-wrapper {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 110vh;
        border-top: 5px solid #2196F3;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-color: #0D51A6;
        filter: drop-shadow(10px 10px 10px rgba(0,0,0,1));
        animation-name: example;
        animation-duration: 0.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        form {
            height: 100% !important;
            padding-top: 7.5vh;
            ion-list {
                display: flex;
                align-items: center;
                flex-direction: column;
                margin: 0;
                ion-item {
                    margin-bottom: 0 !important;
                    border: 1px solid #0D51A6;
                    border-radius: 10px;
                    ion-thumbnail {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0 !important;
                        border-right: 1px solid #0D51A6;
                        background-color: #F2F6FA;
                        ion-icon {
                            font-size: xx-large;
                            color: #0D51A6 !important;
                        }
                    }
        
                    .item-inner {
                        padding: 0 !important;
                        .input-wrapper {
                            padding: 0 !important;
        
                            ion-input {
                                height: 100%;
                                input {
                                    width: 100%;
                                    height: 100%;
                                    margin: 0 !important;
                                    padding-left: 5px;
                                    padding-right: 5px;
                                    color: black;
                                    font-size: 0.8em;
                                }
                            }
        
                            core-show-password {
                                height: 100%;
                                a {
                                    height: 100%;
                                    padding: 0;
                                    span {
                                        ion-icon {
                                            color: #0D51A6;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
        
                ion-item:first-child {
                    border-bottom: 0;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }
        
                ion-item:nth-child(2) {
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                }
        
                ion-input {
                    background-color: white;
                }
        
                .submit-button-wrapper {
                    width: 100%;
                    padding-top: 20px;

                    button {
                        background-color: white;
                        color: #0D51A6;
                        font-weight: bolder;
                        border-radius: 10px !important;
                    }
                }

                .form-footer-wrapper {
                    padding-top: 40px;
                    img {
                        height: 150px;
                    }
                    @media screen and (orientation: landscape) {
                        display: none;
                    }
                }
            }
        }
    }
    .scroll-content {
      background-image: url("#{$assets-path}/img/background.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      color: $core-login-page-text-color;
      overflow-y: hidden;
      padding: 0 !important;
        ion-item {
            padding: 0 !important;
        }
        @media screen and (orientation: landscape) {
            background-image: url("#{$assets-path}/img/background.png");
        }

        @include darkmode() {
          background-image: url("#{$assets-path}/img/background.png");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          color: $core-dark-login-page-text-color;
        }
    }

    img {
        max-width: 100%;
    }

    .core-sitename, .core-siteurl {
        @if $core-fixed-url { display: none; }
    }

    .core-sitename + .core-siteurl  {
        margin-top: 0;
    }

    .core-sitename {
        font-size: 1.8rem;
    }

    @if $core-login-button-outline {
        .button-md.button-default-md, .button-ios.button-default-ios {
            @extend .button-md-light;
        }
    }

    @if $core-login-loading-color {
        .core-loading-container {
            color: $core-login-loading-color;

            .spinner circle, .spinner line {
                stroke: $core-login-loading-color;
            }
        }
    }

    @if $core-dark-login-button-outline {
        .button-md.button-default-md, .button-ios.button-default-ios {
            @extend .button-md-light;
        }
    }

    @include darkmode() {
        .core-loading-container {
            color: $core-dark-login-loading-color;

            .spinner circle, .spinner line {
                stroke: $core-dark-login-loading-color;
            }
        }
    }

    .item-input {
        margin-bottom: 20px;
    }

    ion-list.core-login-forgotten-password {
        margin-top: 0;
        margin-bottom: 0;

        a.item {
            background: transparent;
            text-decoration: underline;

            @include darkmode() {
                background: transparent;
            }
        }
    }

    .core-login-form {
        padding: 0 10% 0 10%;
        height: 20%;
    }

    .bottom-image-wrapper {
        width: 100%;
        height: 0;
        @media screen and (orientation: portrait) {
            margin-top: 10%;
            height: 40%;
        }

        @media screen and (min-width: 768px) and (orientation: portrait) {
            margin-top: 5% !important;
        }

        @media (min-width: 1024px)  and (orientation: landscape) {
            margin-top: 4%;
            height: 40%;
        }

        position: relative;
        display: flex;
        justify-content: center;
        overflow-y: hidden;
        img {
            height: 100%;
            width: auto;
        }
    }

    .item.item-block {
        background: transparent;

        @include darkmode() {
            background: transparent;
        }
    }

    .core-login-site-qrcode-separator {
        text-align: center;
        margin-top: 12px;
        font-size: 1.2em;
    }
}
