$dark-blue: #2062c2;
$white: #ffffff;
$grey: #9e9e9e;
$orange: #f98012;

$toolbar: $dark-blue;
$tabs-navigation-bar: $dark-blue;
$body: $white;
$course-content: $grey;
$dividers: $grey;
$inactive: $grey;
$active: $orange;
$toolbar-text-color: $orange;
