<!-- Generated template for the MychildrenComponent component -->
<ion-item-divider>
  <h2>{{ 'My Children' | translate }}</h2>
 
</ion-item-divider>
<ion-scroll scrollX="true" direction="x">
  <ng-container *ngFor="let child of children;">
    <ion-card (click)="openChildDetail(child)" style="height: 148px;">
      <ion-card-content>
        <ion-card-title>
          
          </ion-card-title>
  
          <ion-grid>
            <ion-row>
            
              <ion-col col-4>
                <ion-avatar>
                  <img style="border-radius:50%;" alt="Silhouette of a person's head" [src]= "child.child_image_url" />
                </ion-avatar>
              </ion-col>
    
            <ion-col col-8>
              <p class="childName">{{ child.child_name }}</p>
              <p class="childEmail">{{ child.child_email }}</p>
            </ion-col>
          </ion-row>
          </ion-grid>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-scroll>

<style>
.childName{
  text-wrap: wrap;
    font-size: small;
}
.childEmail{
  text-wrap: wrap;
    font-size: small;
}
</style>